{% extends 'EMLCmsBundle::layout.html.twig' %}


{% block title %}{% if cat.title is defined %}{{ cat.title }}{% endif %}{% endblock %}
{% block description %}{% if cat.description is defined %}{{ cat.description }}{% endif %}{% endblock %}
{% block keywords %}{% if cat.keywords is defined %}{{ cat.keywords }}{% endif %}{% endblock %}


{% block content %}

    
    
<div class="breadcrumbs">
    {% if catArea is not empty %}
    <a href="{{path('eml_cms_area',{'idArea':catArea.id,'slug':catArea.slug})}}">{{ catArea.h1 }}</a>
    <span class="sep"><tt>&gt;</tt></span>
    {% endif %}
    
    {% if catParentcat is not empty %}
    <a href="{{path('eml_cms_home_lang')}}c/{{catParentcat.slug}}/">{{ catParentcat.h1 }}</a>
    <span class="sep"><tt>&gt;</tt></span>
    {% endif %}
    
    
    
    <a href="{{path('eml_cms_home_lang')}}c/{{cat.slug}}/"><tt>{{cat.h1}}</tt></a>    
</div>


{% if catChildscat is not empty %}
    {% for i in catChildscat %}
        {{i.h1}}<br>
    {% endfor%}
{% endif %}    
    
    {{ include('EMLCmsBundle:_includes:pagination.html.twig', { 'pagination':pagination }) }}

<div class="productList4">
    {{ include('EMLCmsBundle:_includes:loop_elements.html.twig', { 'elements':elements,'max_rows':'4' }) }}
</div>
    
    {{ include('EMLCmsBundle:_includes:pagination.html.twig', { 'pagination':pagination }) }}
    
{% endblock %}

