<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    {% block header %}
    <div class="header"> </div>
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    
    
    
    <div class="footer"> </div>
    <br><br>
    
    </body>
</html>
