{% extends 'EMLCmsBundle::layout.html.twig' %}

{% block title %}{% if element.title is defined %}{{ element.title }}{% endif %}{% endblock %}
{% block description %}{% if element.description is defined %}{{ element.description }}{% endif %}{% endblock %}
{% block keywords %}{% if element.keywords is defined %}{{ element.keywords }}{% endif %}{% endblock %}



{% block css_add %}
<link rel="stylesheet" href="{{ asset('css/contacts.css') }}">
{% endblock %}
{% block topjs_add %}{% endblock %}

{% block content %}
    <div class="bord-1">
        <div class="container_12 contacts">
            <div class="grid_12">
                <div class="row" style="float:left;width:310px;">
                    <div class="map_wrapper col-1" >
                        <h2 class="v2">{{ element.h1 }}</h2>
                    </div>
                    <div class="col-2"style="max-width: 300px;border:1px solid blueviolet;">
                        {{ element.text|raw }}
                    </div>
                </div>
                <div class="row" style="float:left;width:450px;">
                    <h2>Modulo di contatto</h2>
                    <form id="contact-form" class="clearfix" action="{{ path('eml_cms_send_contact_form') }}" method="POST">
                        <div class="success-message">Contact form submitted.</div>
                        <fieldset class="fleft">
                            <label class="name">
                                <input type="text" name="name" placeholder="Nome:" data-constraints="@Required @JustLetters" />
                                
                            </label>
                            <label class="email">
                                <input type="text" name="email" placeholder="E-mail:" data-constraints="@Required @Email" />
                                
                            </label>
                            <label class="phone">
                                <input type="text" name="telephone" placeholder="Telefono:" data-constraints="@Required @JustNumbers"/>
                                
                            </label>
                        </fieldset>
                        <fieldset class="fright">
                            <label class="message">
                                <textarea name="text" placeholder="Messaggio:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                                
                            </label>
                        </fieldset>
                        <div class="form_buttons">
                            <input type="submit" value="invia messaggio">
                        </div>  
                    </form>     
                </div>
                    
                    <div style="clear:both"></div>
            </div>
        </div>
    </div>
{% endblock %}
